# Copyright 2023 VMware, Inc.
#
# This product is licensed to you under the BSD-2 license (the "License").
# You may not use this product except in compliance with the BSD-2 License.
# This product may include a number of subcomponents with separate copyright
# notices and license terms. Your use of these subcomponents is subject to
# the terms and conditions of the subcomponent's license, as noted in the
# LICENSE file.
#
# SPDX-License-Identifier: BSD-2-Clause
on:
  pull_request:
  push:
  workflow_dispatch:
name: CI
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Install lint dependencies
        run: make env/pyvenv.cfg

      - name: Run linters
        run: make lint

  test-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the client wrapper
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run test suite
        uses: ./
        with:
          entrypoint: "clients/python-tuf/python_tuf.py"

  test-go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the client wrapper
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          cache-dependency-path: "clients/go-tuf/go.sum"
          go-version-file: "clients/go-tuf/go.mod"
      - name: Build client wrapper
        run: cd clients/go-tuf && go build .

      - name: Run test suite
        uses: ./
        with:
          entrypoint: "clients/go-tuf/go-tuf"
